body {
    font-family: 'Roboto', sans-serif;
    color: rgba(33, 33, 33, 100%);
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 1600px;
    height: 2349px;
}

.nav-header-mail {
    text-decoration: none;
    color: rgba(117, 117, 117, 100%);
}

.nav-header-tel {
    text-decoration: none;
    color: rgba(117, 117, 117, 100%);
}

.web-studio-link-header {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    font-style: normal;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.web-studio-link-footer {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
}

.blue-text {
    color: rgba(33, 150, 243, 100%);
}

.black-text {
    color: rgba(0, 0, 0, 100%);
}

.white-text {
    color: rgba(255, 255, 255, 100%)
}

.nav-links {
    list-style-type: none;
}

.nav-links a{
    text-decoration: none;
    color: inherit;
}

.nav-links a:hover,
.nav-links a:focus {
    text-decoration: none;
    color: rgba(33, 150, 243, 100%);
}

.nav-header-mail:hover,
.nav-header-mail:focus,
.nav-header-tel:hover,
.nav-header-tel:focus {
    text-decoration: none;
    color: rgba(33, 150, 243, 100%);
}

.effective-solutions {
    background-color: rgba(47, 48, 58, 100%);
}

.effective-solutions-title {
    color: rgba(255, 255, 255, 100%);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-first {    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 100%);
    color: rgba(255, 255, 255, 100%);
}

.our-attributes-list {
    list-style-type: none;
}

.what-do-we-do-list {
    list-style-type: none;
}

.our-team-list {
    list-style-type: none;
}

.footer-main {
    background-color: rgba(47, 48, 58, 100%);
}


.footer-address-list {
    list-style-type: none;
}

.footer-address-city {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 100%)
}

.footer-address-mail-tel {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 60%)
}