body {
    font-family: 'Roboto', sans-serif;
    color: rgba(33, 33, 33, 100%);
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 1600px;
    height: 2349px;
}

.nav-header-mail,
.nav-header-tel {
    text-decoration: none;
    color: rgba(117, 117, 117, 100%);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.web-studio-link-header {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.blue-text {
    color: rgba(33, 150, 243, 100%);
}

.black-text {
    color: rgba(0, 0, 0, 100%);
}

.white-text {
    color: rgba(255, 255, 255, 100%)
}

.nav-links {
    list-style-type: none;
}

.nav-links a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-links a:hover,
.nav-links a:focus {
    text-decoration: none;
    color: rgba(33, 150, 243, 100%);
}

.nav-header-mail:hover,
.nav-header-mail:focus,
.nav-header-tel:hover,
.nav-header-tel:focus {
    text-decoration: none;
    color: rgba(33, 150, 243, 100%);
}

.effective-solutions {
    background-color: rgba(47, 48, 58, 100%);
}

.effective-solutions-title {
    color: rgba(255, 255, 255, 100%);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-first {
    background-color: rgba(33, 150, 243, 100%);
    color: rgba(255, 255, 255, 100%);
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.our-attributes-list,
.what-do-we-do-list,
.our-team-list {
    list-style-type: none;
}

.lorem-ipsum-title {
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
}

.lorem-ipsum-content {
    font-weight: normal;
    line-height: 24px;
    color: rgba(117, 117, 117, 100%);
}

.lorem-ipsum-title,
.lorem-ipsum-content {
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.what-do-we-do-title,
.our-team-title {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-worker-title {
    font-weight: 500;
}

.our-team-worker-position {
    font-weight: normal;
    color: rgba(117, 117, 117, 100%);
}

.our-team-worker-title,
.our-team-worker-position {
    font-family: inherit;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.footer-main {
    background-color: rgba(47, 48, 58, 100%);
}

.web-studio-link-footer {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.footer-address-list {
    list-style-type: none;
}

.footer-address-city,
.footer-address-mail,
.footer-address-tel {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 60%)
}

.footer-address-city:hover,
.footer-address-city:focus,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-tel:hover,
.footer-address-tel:focus {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 100%)
}